
@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;
}
/* NAVBAR */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
}

/* HEADER */
header{
    width: 100vw;
    height: 100vh;
    background-image: url('travel.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-content{
    margin-bottom: 500px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 200px;
    height: 2px;
    background: #fc036b;
    margin: 10px auto;
}

.header-content h1{
    font-size: 7vmin;
    margin: 30px 0;
}

.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

/* MENU BUTTON */
.menu-btn{
    width: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
}

/* SECTION */
section{
    width: 80%;
    margin: 80px auto;
} 
.title{
    text-align: center;
    font-size: 4vmin;
    color: #484872;
}
.row{
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top: 50px;

}
h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p {
    color: #000000;
    padding: 0px 40px;

}
.event .ctn{
    margin-top: 30px;

}
.Explore {
    width: 100%;
    height: 100vh;
    background-image: url('land\ scape.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content {
    width: 50%;
    padding: 50px;
    color: rgb(88, 2, 88);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: rgb(250, 248, 248);
}
.explore-content .ctn {
    margin-top: 40pxs;
}
.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}
.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img {
    max-width: 300px;
    margin: 10px;
}
.content-col h1 {
    font-size: 7vmin;
    color: #484872;

}
.content-col .line {
    margin-left: -1px;
}
.content-col .p {
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn {
    margin-left: -100px;
}
.footer {
    width: 100%;
    height: 150px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
}
/* MOBILE MENU */
@media (max-width: 850px){

    .menu-btn{
        display: block;
    }

    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 2;
    }

    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: #484872;
        justify-content: center;
        margin-top: -100vh;
        transition: all 0.5s ease;
    }
    /* This class is added by JS */
    .mobile-menu{
        margin-top: 0;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }

    .col img {
        max-width: 90%;
    }

    .Explore-content {
        width: 100%;
    }
    .tours .col {
        width: 100%;
    }
    .image-gallery {
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    .footer {
        padding: 10px;
    }
}


img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}
li:hover {
    color: #fc036b;
    
}
